# Archivo de configuración - Bot de Verificación de Donaciones

# Las líneas que empiecen por # serán indicadas como solo lectura

# -- Propiedades --

# Token de conexión a Discord
JDA_TOKEN = 

# Token de conexión a Steam API
STEAM_TOKEN = 

# Ruta de la Base de Datos MySQL que se va a acceder, junto a su puerto y la base de datos proporcionada
BBDDConexion = jdbc:mysql://0.0.0.0:3306/MiBaseDeDatos

# Usuario de la Base de Datos
BBDDUser = 

# Contraseña del usuario proporcionado
BBDDPassw = 

# Cantidad de tiempo en horas en las que el usuario no podra modificar su donacion
CoolDownModificacion = 3
