# Archivo de configuración - Bot de Verificación de Donaciones

# Las líneas que empiecen por # serán indicadas como solo lectura

# -- Propiedades --

# Token de conexión a Discord
JDA_TOKEN =



# --- --- Apartado configuracion conexion a terceros  --- ---

#Deberia de estar activado la conexion a terceros?
ConexionATercerosActive = True

# Token de conexión a Steam API
STEAM_TOKEN =

# Ruta de la Base de Datos MySQL que se va a acceder, junto a su puerto y la base de datos proporcionada
BBDDConexion =

# Usuario de la Base de Datos
BBDDUser =

# Contraseña del usuario proporcionado
BBDDPassw =

# Cantidad de tiempo en horas en las que el usuario no podra modificar su donacion
CoolDownModificacion = 3

# Cantidad de tiempo en dias en los cuales la donacion caducara
ExpireDays = 30



# --- --- Apartado configuracion canal de feedback  --- ---

#Deberia de estar activado el feedback?
FeedbackActive = True

#Identificar del canal donde ira destinado el feedback
FeedbackChannelId =



# --- --- Apartado configuracion canal de soporte automatico  --- ---

#Deberia de estar activado el soporte?
SoporteActive = True

#Identificar del canal donde ira destinado el soporte
SupportChannelId =

#Identificar de la categoria donde se crearan los tickets
TicketCategoryId =